

header
{
    grid-area: header;
}

header nav>ul
{
    display:flex;
    flex-flow: row;
    justify-content: right;
    align-items:center
}

header nav>ul>li
{
    margin-right:2rem;
}

/* To li pou exei mesa to img */
.logo-image
{ 
    margin-right:auto;
} 

body
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"header header" 
                        "title title"
                        "content content"
                        "footer footer";
}
main 
main li article
{
    grid-area:content;
}
main>h2, main>h1
{
    grid-area:title;
}

main section
{
    grid-area:content;
}

footer 
{
    grid-area:footer;
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "links info"
                         "image image";
    justify-content: center;
    gap:2rem;
}

.footer-logo
{
    width:100%;
    grid-area:image; 
    display:flex;
    flex-flow: row;
    justify-content: center;
     
}
.footer-logo img 
{ 
    width:10rem;
    height:auto;
}