
/* The whole content of the page is placed in a grid 
    that consists of a header area a content area and a footer area
    Also height is set to 100% of the viewport height*/
body{
    height:100vh;
    display:grid;
    grid-template-areas: "header"
                        "content"
                        "footer"
}


/* the top level header is assigned to the "header" gird area */
header
{
    grid-area: header;
}

/*main is assigned to the "content" gird area 
 + the elements inside the main are set to be displayed in a grid as well
 the template of the grid is as stated below
 + Small Grid Gap */
main
{
    grid-area:content;
    display:grid;
    grid-template-areas:"header header header" 
                        "left-menu content right-menu "
                        "left-menu content right-menu ";
    grid-gap:0.5rem;

}

/*footer is assigned to the "footer" gird area 
 + the elements inside the footer are set to be displayed in a grid of 3 columns */
footer
{
    grid-area:footer;
    display:grid;
    grid-template-columns: repeat(3,auto);
}

/* the items inside the ul  of the nav menu
    1.are set to be displayed with flex box 
    2.flex-flow is set to row for horizontal style
    3.items are set to the left of the nav menu  with justify content 
    4.items are aligned to the center of the flex box*/
header nav>ul
{
    display:flex;
    flex-flow: row;
    justify-content:left;
    align-items:center;
}

/* The second item of the nav list of links(right after the logo)
have a margin left set to auto to distance the rest of the menu from the logo */
header nav>ul>li:nth-child(2)
{
    margin-left:auto;
}



/* divs inside the footer 
    1.have margins to the left and right 
    2.items inside are displayed as flex in a column
    3.content is centered with justify
    */
footer div{
    margin-left:1rem;
    margin-right:1rem;
    display:flex;
    flex-flow:column;
    justify-content: center;
}


/* the logo in the footer takes up all of the grid columns
flow is set to row */
#footer-img
{
    grid-column: 1/-1;
    flex-flow:row;
}


/* With the use of font face rule an external font is 
    imported in the project*/
@font-face {
    font-family:Fira-Sans ;
    src: url(res/FiraSansCondensed-Regular.ttf);
}


/* aside elements which are inside the main element
 are place in the "leftmenu" grid area */
 aside
 {
     grid-area:left-menu;
 }

/* h1 elements which are inside main
 are place in the "header" grid area */
h1
{
    grid-area:header;
}


/* margin-top is removed from the list of links for better layout */
header nav ul
{
    margin-top:0;
}


/* featured panel is a 2 column grid containing informatons about products offered
items are centered with the use of place-items:center*/
#featured-panel
{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}

/* This class is used to have a grid element take up a whole row */
.fill-all-columns
{
    grid-column:1/-1;
}

/* this class is used to make specific containers display their contetnts as with flexbox as a row  */
.flex-row
{
    display:flex;
    flex-flow:row
}
/* this class is used to make specific containers display their contetnts as with flexbox as a row  */
.flex-column
{
    display:flex;
    flex-flow:column
}

/* Elements of this class are justified to the center of the felxbox they are contained in */
.justify-self-center
{
    justify-self: center;
}


/* used along with flex-row aand flex-column in order to center items */
.flex-center
{
    justify-content: center;
    align-items: center;
}

/* justifies flexbox contents to space evenly */
.justify-evenly
{
    justify-content: space-evenly;
}

/* This is used specifically for the fieldset of the form in order to give it more space */
#radio-fieldset
{
    width: 42rem;
}




/* The responsive design due to bad planning was performed desktop first starting from 3 columns for desktop, 2 columns for tablet, and 1 for mobile */


/* Layout for tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    
    aside
    {
        width:100%;
        margin-bottom:2rem;
        height: fit-content;
    }
    main {
        grid-template-areas: "header header" 
                             "left-menu left-menu"
                             "content content";
    }
}

/*Layout for mobile */
@media only screen and (max-width: 767px) {
    
    body
    {
        font-size:1.8rem;
    }

    body>header
    {
        height: 40rem;
        margin-bottom:5rem;
    }

    header nav>ul
    {
    display:flex;
    flex-flow:column;
    justify-content:left;
    align-items:flex-start;
    }


    header nav>ul>li:nth-child(2)
    {
        margin-left:0;
    }


    header nav>ul button
    {
        display:none
    }

    .logo-image-container
    {
        width:100%;
    }

    aside{
        display: none;
    }
    .filter-panel
    {
        width: 100%;
        display:block;
    }
    main {
        grid-template-areas: "header" 
                            "left-menu"
                            "content";
    }

    #featured-panel
    {
        display:grid;
        grid-template-columns: 1fr;
    }
}
