:root
{
    --page-color:rgb(24, 23, 23);
    --secondary-page-color: rgb(80, 47, 107);
    --vibrant-color:rgb(115, 30, 237);
    --hover-color:rgba(108, 23, 177, 0.603);
    --dark-vibrant-color:rgb(52, 13, 109);
    --vibrant-text-color: rgb(153, 32, 255);
    --normal-text-color :aliceblue;
}

html {
    /*root font size setup for responsiveness*/
    font-size: 62.5%;
}


/* Basic Style for all contents */
body {
    font-size: 1.6rem;
    margin:0;
    background-color: var(--page-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--normal-text-color);
}


header {
    width: 100%;
}

/*Site Header style (Since we have used headers in other instances we
want to select only the ones that are a child of body)*/
header>nav{
    padding: 0em;
    height: 7rem;
}

nav ul
{
    box-sizing: content-box; 
}

header nav a{ 
    padding: 1em;
}

/*When the links on the nav bar are hovered they change style*/
header a:hover{
    transition-duration: 300ms;
    transition-property:all;
    background-color: var(--hover-color);
    border-radius: 2em;
    color:var(--normal-text-color);
}

/*When the links on the nav bar are hovered they change style*/
header a:active {
    background-color: var(--dark-vibrant-color);
    color:var(--vibrant-text-color);
}



header nav>ul>li{
    display: inline-block;
    line-height: 100%; 
    align-items: center;
}

/* All list items inside a header tag*/
header nav>ul>li:nth-child(1){
    display: inline-block;
    padding: 1em;
}



header li>ul
{
    margin-top: 1rem;
    display:none;
    border-radius: 1em;
}

header li:hover>ul
{
    
    display:block;
    position:absolute;
    background-color: var(--page-color);

    padding :0.5em;

} 

header li:hover>ul>li
{
    
    padding :0.5rem;
    margin-bottom:2rem;

} 

nav input
{
    background-color:var(--secondary-page-color);
    border-radius: 1em;
    border-color:transparent;
    margin-left:0.5rem;
}

nav input::selection
{
    background-color:var(--secondary-page-color);
    block-size: 2rem;
    border-color:transparent;
    margin-left:0.5rem;
}


/* We want all the links in the site to have a more minimal style*/
a 
{
    text-decoration: none;
    color:var(--normal-text-color);
}

/*When the links on the nav bar are hovered they change style*/
a:active {
    background-color: var(--dark-vibrant-color);
    color:var(--vibrant-text-color);
}

main
{
    margin-top: 5rem;

} 



p::selection
{
    background-color:rgba(113, 5, 255, 0.452) ;
}

footer
{ 
    margin-top: 10em;
    margin-left:0;
    margin-right:0;
    padding: 2em;
    background-color:var(--secondary-page-color);
    border-radius:1rem  1rem 0rem 0rem;
}





/*We don't want bullets in our lists*/
ul {
    list-style: none;
    padding:0;
    margin:0;
}

ol
{
    list-style-type: none;
}

