:root
{
    --page-color:rgb(34, 32, 32);
    --table-color:rgb(92, 78, 97);
    --secondary-page-color:rgb(49, 27, 57);
    --form-field-color:rgb(10, 10, 34);
    --form-field-border-color:rgb(80, 2, 151);
    --vibrant-color:rgb(115, 30, 237);
    --hover-color:rgba(108, 23, 177, 0.603);
    --dark-vibrant-color:rgb(57, 12, 94);
    --vibrant-text-color: rgb(153, 32, 255);
    --normal-text-color :aliceblue;
    --transparent-text-color :rgba(155, 161, 165,0.6);
}


/* General Styles */


/*root font size setup for responsiveness*/
html {
    font-size: 62.5%;
}


/* All elements inside the Body:
    1.Have a preset Background Color
    2.have a font size of 1.6 rem
    3.No margin and padding so that the page content sitcks to the edges of the window 
    4.Font family & color
    5.Overflow means the content of the body will flow over the bottom scrollbar effectively Hiding it 
    */
body {
    background-color: var(--page-color);
    font-size: 1.6rem;
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--normal-text-color);
    overflow-x: hidden; /*Hides bottom scrollbar by covering it with the body block*/
}

/*For the Header element(As in the nav menu):
    1.Has a Width of 100%
    2.A Shadow is added to signify its edge
    3.Padding added*/
body>header {
    width: 100%;
    height:10rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

/* We select the input of type text inside of nav elements
(this corresponds only to the search bar):
    1.background color is changed
    2.height is set to a bigger size
    3.An inset shadow is added to give deph
    4.Corners are smoothed out
    5.Small margin left is added*/
    header nav input[type="text"]
    {
        background-color: var(--page-color);
        height:4rem;
        padding:0.2rem;
        box-shadow: rgba(0, 0, 0, 0.5)  0.3rem 0.3rem 0.5em 0.5rem inset;
        border-radius: 2rem;
        border: 0.1rem solid rgb(77, 67, 67);
        color:var(--normal-text-color);
        margin-left:0.5rem;/*CHECK*/
    }
    

/* The main element has a small margin so that text doesn't stick to the edges of the Window */
main
{
    margin:1rem;
} 

/*All h1 elements:
    1.Have a larger font size
    2.Have a small margin and padding
    3.Extra margin top for distance from the header */
h1{
    font-size:3.5rem;
    padding:0.3rem;
    margin :1rem;
    margin-top:2rem;

}

/*All h2 and h3 elements:
    1.Have a small margin and padding
*/
h3,h2 {
    margin:1rem;
    padding:1rem;
}


/* All paragraphs Have a small margin and padding */
p{
    margin: 2rem;
    padding: 2rem;
}

/* em elements are shown in italics with bold weight for emphasis */
em
{
    font-style:oblique;
    font-weight: bold;
}


img {
    border:1rem;
    margin:0.5rem;
    padding:1rem;
}



/* For all Links:
    1.Any text decorations are removed (Default Underline)
    2.Default blue color is overwritten
    3.italics so They are seperable from the other text
 */
a 
{
    text-decoration: none;
    color:var(--normal-text-color);
    font-style: italic;
}

/* When any Link is Hovered:
    1.text is Underlined
    2.text becomes bolder
    3.All over a set amount of time with the use of transition duration*/
a:hover
{
    text-decoration: underline;
    font-weight: bold;
    transition-duration: 120ms;
}
/* When any Link is Pressed:
    1.it changes color
    2.over a set amount of time with the use of transition duration*/
a:active
{
    color:var(--vibrant-color);
    transition-duration: 120ms;
}

/*Visited Links look Grayed out*/
a:visited
{
    color:var(--transparent-text-color );
}

/*For all tables:
    1.Default table border spacing is removed for a more seamless style 
    2.A small border is added 
    3.Corners are smoothed out
    4.All elemnents such as tr or th are hidden if the flow over the border of the table 
    (this happens because the contents don't have smoothed out corners)*/
table 
{
    border-spacing: 0;
    border: 0.1rem solid var(--table-color);
    border-radius: 0.9rem;
    overflow: hidden;/*Parts like the tr and td that would otherwise clip the rounded corners of the table are hidden*/
}


/* Colors of odd (in number of appearance) rows change background color for better visibility */
table tr:nth-of-type(2n+1){
    background-color: var(--table-color);
}


/*For all table contents
    1.Small Padding for table contents
    2.text is centered*/
td, th
{
    text-align: center;
    padding:0.8rem;
}


/*the Footer element:
    1.Has width of te entire page
    2.Has a top margin for seperation with the page's main content
    3.padding is added
    4.The top two corners are smoothed out usin border radius*/
footer
{ 
    width:100%;
    margin-top: 10rem;
    padding: 2rem;
    background-color:var(--secondary-page-color);
    border-radius:2rem 2rem;
}

/* All selected elements have purple color*/
::selection
{
    background-color:rgba(113, 5, 255, 0.452) ;
}


/* For all input placeholders:
    1.font is changed from default
    2.color is changed
    3.text is bold for better readability 
    4.padding is added */
::placeholder
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--transparent-text-color);
    font-weight:bold;
    padding:0.7rem
}

/*When an input item is focused we don't want any style
(This is so that the outline won't appear for radial, checkboxes etc.)*/
input:focus
{
    outline:none;
}

/* When a text input or a textarea are clicked they 
have a vibrant outline */
input[type="text"]:focus,textarea:focus
{
    outline:0.1rem solid var(--vibrant-color) ;

}

aside ul{
    padding:0;
}

.logo-image-container
{
    margin-top: 1rem;
    padding :0.5rem;
}
.logo-image-container img
{
    width:10rem;
    height:auto;
}



/*----------------------------Nav Menu Links--------------------------------------*/

header nav button
{
    background-color: var(--page-color);
    border:none;
}



header nav>ul>li{
    display: inline;
}






footer div a
{
    display:block; 
}








/*---------------------------------- Form style --------------------------------*/

fieldset
{
    border-spacing: 0;
    border: 0.1rem solid var(--dark-vibrant-color);
    border-radius: 0.9rem;/* Smooth corners for the fieldset block*/
    width:50%;
    padding : 0.8rem;
}

fieldset input
{
    width:40rem;
    height:2rem;
    margin: 0.5rem;
    border-radius: 0.7rem;/*Smooth edges*/
    border: 0.1rem solid rgb(77, 67, 67); 
    background-color: var(--page-color);
    box-shadow: rgba(0, 0, 0, 0.3)  0.3rem 0.3rem 0.5em 0.5rem inset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



select
{
    background-color: var(--vibrant-text-color);
    box-shadow: 0 5rem 5rem 0 rgba(0, 0, 0, 0.250), 0 1.2rem 5rem 0 rgba(0, 0, 0, 0.250);
    color:var(--normal-text-color);
}

fieldset input[type="text"]
{
    display: block;
    color:var(--normal-text-color);
    height:3rem;
}

fieldset textarea 
{
    display: block;
    color : var(--normal-text-color);
    border-radius: 0.7rem;/*Smooth edges*/
    width:40rem;
    height:10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0.1rem solid rgb(77, 67, 67); 
    background-color: var(--page-color);
    box-shadow: rgba(0, 0, 0, 0.3)  0.3rem 0.3rem 0.5em 0.5rem inset;
}



/* We delete all previous styles from the pario buttons then add new size, color and a border*/
fieldset input[type = "radio"] {
    appearance: none;
    margin-bottom: 0rem; /*Overwrites the rule above (fieldset input)else text aside  the radio button is pushed down*/
    color: var(--secondary-color);
    width: 1.15rem; /*We make a square that is 1.15rem x 1.15rem */
    height: 1.15rem;
    border: 0.15em solid var(--form-field-color);
    border-radius: 50%; /*check box is a circular field*/
    transition-duration: 120ms /*animation time for smooth Transition */
}

fieldset input[type = "radio"]:checked
{
    background-color: var(--form-field-color);
    border: 0.4rem solid var(--vibrant-color);
    transition-duration: 120ms/*animation time for smooth Transition */
}




/* The 2 buttons on the bottom of the form are set to have no default appearance */
form input[type="submit"],form input[type="reset"]
{
    width:fit-content;
    margin: 1rem;
    padding:1rem;
    width:15%;
    appearance: none;
    display: block;
    color:var(--normal-text-color); /*Text color change */
    background-color: var(--form-field-color);
    border: 0.2rem solid var(--form-field-border-color);
    border-radius: 0.9rem;
    transition-duration: 120ms;
}




.no-box-model-values
{
    margin:0;
    padding:0;
    border:0;
}


.ad-style
{
    background-color: var(--table-color);
    width:35%;
    margin:1rem;
    border-radius:0.9rem;
    overflow: hidden;
}


.ad-style:hover
{
    box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.733), 0 2.5rem 6rem 0 rgba(0, 0, 0, 0.814);
    background-color: rgb(57, 12, 94);
    transition-duration: 250ms;
}

.ad-style:active
{
    background-color: rgb(57, 12, 94);
    padding: 0.5rem;
    transition-duration:120ms;
}
.ad-style p
{
    display:inline-block;
    padding:0.3rem;
    margin :0.3rem;
}

.no-link-style:hover
{
    text-decoration: none;
    font-weight: normal;
}
.no-link-style:active
{
    color:var(--normal-text-color);
}

.no-link-style:visited
{
    color:var(--normal-text-color);
}



aside
{
    float:right;
    right:0%;
    margin-right:0;
    height: 100%;
    width: 35rem;
    padding-top:2rem;
    padding-bottom:3rem;
    background-color:var(--page-color);
    box-shadow: 0 5rem 5rem 0 rgba(0, 0, 0, 0.250), 0 1.2rem 5rem 0 rgba(0, 0, 0, 0.250); ;
    border-radius:1rem;
}

aside nav a
{
    padding:5rem;
    font-size:2rem;
    margin:1.5rem;
}


aside nav>ul>li>ul>li>a
{
    margin-left:4rem;
}
aside nav>ul>li>ul>li
{
    margin-top:2rem
}
aside nav>ul>li
{
    margin-top:2rem
}







/*All blocks with this class:
    1.padding is a addeed
    2.multiple shadows with incremented offset and purple color are used to give a glow effect 
    3.corners are smoothened*/
    .glow-block{
        box-shadow: rgba(80, 2, 151, 0.4) -5px 5px , rgba(80, 2, 151, 0.3) -10px 10px, rgba(80, 2, 151, 0.2) -15px 15px, rgba(80, 2, 151, 0.1) -20px 20px, rgba(80, 2, 151, 0.05) -25px 25px;
        border-radius: 2rem;
        padding: 3rem;
    }

/*the image that should fill the space: 
    1.takes up 100% of the block's width
    2.height is auto as to not deform the image
    3.padding and margin are 0 so that it sticks to the edges
    4.shadow is set*/
.fill-block img 
{
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.145), 0 1.2rem 5rem 0 rgba(0, 0, 0, 0.145);
}
/*the container that should be filled takes up 100% of the block's width*/
.fill-block
{
    width:100%
}
    

/* small margin bottom*/
.margin-bottom
{
    margin-bottom: 2rem;
}


/* Price of ads should Have larger text*/
#price
{
    font-size:3rem;
}


/*These elements float right with a small margin so they don't stick to the edge of the page*/
.float-right
{
    clear:right;
    float:right;
    margin-right:2rem; 
}

/* this is used for text that should be grayed out*/
.transparent-text
{
    color:var(--transparent-text-color)
}

/* For all "Buttons" (as in links that look like buttons):
    1.Without this the hover animation shows a transition from a white border to a purple border.
    We want it to be purple from the start so we make it but keep the width to 0
    2.padding is added*/
.button_style
{
    border: 0rem solid var(--form-field-border-color); /* Smooth corners*/
    padding:1rem;
}

/* When a Button is Hovered over:
    1.The text isn't underlined (default Link behaviour)
    2.Padding is added to for a more clean spaced out look for the block
    3.backgorund Color of the box is changed
    4.A purple border appears
    5.The corners of the block are smoothened out using border Radius
    6.All the above happens over a set amount of time using transition-duration*/
.button_style:hover
{
    text-decoration: none;
    padding:1rem;
    background-color: var(--form-field-color);
    border: 0.5rem solid var(--form-field-border-color); /* Smooth corners*/
    border-radius: 2rem;
    transition-duration: 200ms;/*animation time for smooth Transition */
}

/* When a Button is Pressed:
    1. background Color of the box is changed to show the activation of the button
    2. Text color is also changed
    3.All the above happens over a set amount of time using transition-duration */
.button_style:active
{
    background-color: var(--form-field-border-color);
    color:var(--vibrant-text-color);
    transition-duration: 200ms;/*animation time for smooth Transition */
}

/* For all "Buttons" (as in links that look like buttons):
    1.Without this the hover animation shows a transition from a white border to a purple border.
    We want it to be purple from the start so we make it but keep the width to 0
    2.padding is added*/
    .button_style
    {
        border: 0rem solid var(--form-field-border-color); /* Smooth corners*/
        padding:1rem;
    }
    
    /* When a Button is Hovered over:
        1.The text isn't underlined (default Link behaviour)
        2.Padding is added to for a more clean spaced out look for the block
        3.backgorund Color of the box is changed
        4.A purple border appears
        5.The corners of the block are smoothened out using border Radius
        6.All the above happens over a set amount of time using transition-duration*/
    .button_style:hover
    {
        text-decoration: none;
        padding:1rem;
        background-color: var(--form-field-color);
        border: 0.5rem solid var(--form-field-border-color); /* Smooth corners*/
        border-radius: 2rem;
        transition-duration: 200ms;/*animation time for smooth Transition */
    }
    
    /* When a Button is visited it shouldn't be greyed out like the default links so
    color is set to normal*/
    .button_style:visited
    {
        color:var(--normal-text-color)
    }

/*bullets or other default styles are removed from lists*/
.no-list-style
{
    list-style: none;
}


/*list items have an extra margin*/
.spaced-out-list li
{
   margin: 2rem;
}



/* Style for dropdown menus:
    1.Display is set to none so that the menu remains hidden
    2.Position is set to absolute so as not to displace other items in the menu
    3.width is set to 100% because postion absolute is very unresponsive for different screen resolutions
    4.Corners are smoothed with norder radius 
    5.Background color is changed
    6.small padding is added
    7.shadow is added to imply that the menu is in front of the rest of the content
   */
   .dropdown
   {
       display:none;
       position:absolute;
       width:100%;
       border-radius: 1rem;
       box-shadow: 0 5rem 5rem 5rem rgba(0, 0, 0, 0.250);
       background-color: var(--page-color);
       padding:0.5rem;
   }
   
   /* When the dropdown container is hovered its display is set to block
   so that it appears (previously display:none) */
   .dropdown-container:hover .dropdown
   {
       display:block;
   }

/* width */
::-webkit-scrollbar {
    width: 1rem;
    height:1rem;
    border-radius:0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(15, 15, 15);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--vibrant-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-vibrant-color);
  }