:root
{
    --page-color:rgb(24, 23, 23);
    --table-color:rgb(92, 78, 97);
    --secondary-page-color:rgb(49, 27, 57);
    --form-field-color:rgb(10, 10, 34);
    --form-field-border-color:rgb(80, 2, 151);
    --vibrant-color:rgb(115, 30, 237);
    --hover-color:rgba(108, 23, 177, 0.603);
    --dark-vibrant-color:rgb(57, 12, 94);
    --vibrant-text-color: rgb(153, 32, 255);
    --normal-text-color :aliceblue;
    --transparent-text-color :rgba(155, 161, 165,0.6);
}


html {
    /*root font size setup for responsiveness*/
    font-size: 62.5%;
}


/* Basic Style for all contents */
body {
    font-size: 1.6rem;
    margin:0;
    padding:0;
    background-color: var(--page-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--normal-text-color);
}

/*---------------------------------------------nav menu---------------------------------------*/
header {
    width: 100%;
    border-bottom:0.5rem aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

.logo-image
{
    margin-top: 1rem;
    padding :0.5rem;
}
.logo-image img
{
    width:10rem;
    height:auto;
}

/*Site Header style (Since we have used headers in other instances we
want to select only the ones that are a child of body)*/
header>nav{
    padding: 0em;
    height: 7rem;
}


/*----------------------------Nav Menu Links--------------------------------------*/
header nav a{ 
    padding: 1rem;
}

header nav button
{
    background-color: var(--page-color);
    border:none;
}


/*When the links on the nav bar are hovered they change style*/
header nav a:hover, header nav button:hover, header input:hover{
    text-decoration: none;
    transition-duration: 120ms;/*animation time for smooth Transition */
    padding:1rem;
    background-color: var(--form-field-color);
    border: 0.5rem solid var(--form-field-border-color); /* Smooth corners*/
    border-radius: 2rem;
    color:var(--normal-text-color);
}


/*When the links on the nav bar are hovered they change style*/
header nav a:active, header nav button:active {
    background-color: var(--dark-vibrant-color);
    color:var(--vibrant-text-color);
    padding:0.8rem;
}

/*When the links on the nav bar are hovered they change style*/
header nav a:visited, header nav button:visited {
    color:var(--normal-text-color)
}

/*----------------------------End of Nav Menu Links--------------------------------------*/

header nav>ul>li{
    /* display: inline-block; */ /*!DELETE*/
}



header li>ul
{
    margin-top: 1rem;
    display:none;
    border-radius: 1rem;/* Smooth corners*/
}

/*The dropdown menu block appears when the category li is hovered */
header li:hover>ul
{
    display:block;/*!DELETE*/
    position:absolute;/*the block has an absolute position over the other elements of the page*/
    background-color: var(--page-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);/*A shadow is added to seperate the block from the backgroud*/
    border-radius: 1rem;
    padding:0.3rem;
} 

/*Style for the li items inside the dropdown menu*/
header li:hover>ul>li
{
    padding :0.2rem;
    margin-bottom:2rem;
} 

nav input[type="text"]
{
    background-color: var(--form-field-color);
    border: 0.2rem solid var(--form-field-border-color); /* Smooth corners*/
    border-radius: 2rem;
    color:var(--normal-text-color);
    margin-left:0.5rem; 
}

nav input[type="text"]::placeholder
{
    color:var(--transparent-text-color);
    font-weight:bold;
}

nav input::selection
{
    background-color:var(--table-color);
    block-size: 2rem;
    border-color:transparent;
    margin-left:0.5rem;
}
/*----------------------------------End of Nav menu---------------------------------------*/

/*-----------------------------------Links style-------------------------------------------*/
/* We want all the links in the site to have a more minimal style*/
a 
{
    text-decoration: none;
    color:var(--normal-text-color);
    transition: 120ms;
}
a:hover
{
    text-decoration: underline;
    font-weight: bold;
    color:var(--normal-text-color);
    transition: 120ms;
}
a:active
{
    color:var(--vibrant-color);
    transition: 120ms;
}

a:visited
{
    text-decoration: none;
    color:var(--transparent-text-color );
}

/*-----------------------------------Links style-------------------------------------------*/
main
{
    /* margin-top: 5rem; */

} 


main>section>p
{
    margin:2rem;
    width :50%;
    box-shadow: 0 4px 8px 0 rgba(149, 17, 250, 0.145), 0 6px 20px 0 rgba(149, 17, 250, 0.145);
    border-radius: 2rem;
    padding: 3rem;

}
p::selection, h::selection
{
    background-color:rgba(113, 5, 255, 0.452) ;
}

footer
{ 
    margin-top: 10em;
    margin-left:0;
    margin-right:0;
    padding: 2em;
    background-color:var(--secondary-page-color);
    border-radius:1rem  1rem 0rem 0rem; /* Smooth corners only on the top part of the block*/
}

footer div a
{
    display:block; 
}




/*We don't want bullets in our lists*/
ul {
    list-style: none;
    padding:0;
    margin:0;
}

/*---------------------------------- Table style --------------------------------*/

/* We don't want to have borders inbetween contents for a more seamless style */
table 
{
    border-spacing: 0;/*default table style has a spacing between the border of contents and the table, we romove this*/
    border: 0.1rem solid var(--table-color);
    border-radius: 0.9rem;/* Smooth corners on the entire table*/
    overflow: hidden;/*Parts like the tr and td that would otherwise clip the rounded corners of the table are hidden*/
}


/* Colors of each row inter change for better visibility */
table tr:nth-of-type(2n+1){
    background-color: var(--table-color);
}


th
{
    border:0;

}

/* text centered and padding added */
td
{
    text-align: center;/*Centered text*/
    padding:0.8rem;
    border:0;
}
/*--------------------------------End of Table style--------------------------------*/


/*---------------------------------- Form style --------------------------------*/

fieldset
{
    border-spacing: 0;
    border: 0.1rem solid var(--dark-vibrant-color);
    border-radius: 0.9rem;/* Smooth corners for the fieldset block*/
    width:50%;
    padding : 0.8rem;
}

fieldset input
{
    width:40rem;
    height:2rem;
    margin: 0.5rem;
    border-radius: 1rem;/*Smooth edges*/
    border: 0.1rem solid var(--form-field-border-color); 
    background-color: var(--form-field-color);
}

fieldset input::placeholder, fieldset textarea::placeholder
{
    color:var(--transparent-text-color);
    font-weight: bold;
    padding:0.3rem;
}

fieldset input[type="text"]
{
    display: block;
    color:var(--normal-text-color);
    height:3rem;
}

fieldset textarea 
{
    display: block;
    border-radius: 0.9rem;/*Smooth edges*/
    border: 0.1rem solid var(--form-field-border-color); 
    background-color: var(--form-field-color);
    width:40rem;
    height:10rem;
}



/* We delete all previous styles from the pario buttons then add new size, color and a border*/
fieldset input[type = "radio"] {
    appearance: none;
    margin-bottom: 0rem; /*Overwrites the rule above (fieldset input)else text aside  the radio button is pushed down*/
    color: var(--secondary-color);
    width: 1.15rem; /*We make a square that is 1.15rem x 1.15rem */
    height: 1.15rem;
    border: 0.15em solid var(--form-field-border-color);
    border-radius: 50%; /*check box is a circular field*/
    transition: 120ms /*animation time for smooth Transition */
}

fieldset input[type = "radio"]:checked
{
    background-color: var(--form-field-color);
    border: 0.4rem solid var(--form-field-border-color);
    transition: 120ms/*animation time for smooth Transition */
}




/* 
The 2 buttons on the bottom of the form are set to have no default appearance */
form input[type="submit"],form input[type="reset"]
{
    width:25%;
    margin: 1rem;
    padding:1rem;
    width:15%;
    appearance: none;
    display: block;
    float:center;
    /* position:absolute; This is needed since when the button is hovered when the padding gets bigger eveything around it moves */
    color:var(--normal-text-color); /*Text color change */
    background-color: var(--form-field-color);
    border: 0.2rem solid var(--form-field-border-color);
    border-radius: 0.9rem;
    transition: 120ms;
}

form input[type="reset"]
{
    right: 10%;
/*We move the clear form button slightly to the left*/
}

form input[type="submit"]:hover ,form input[type="reset"]:hover
{
    padding:1.5rem;
    background-color: var(--vibrant-color);
    border: 0rem solid var(--form-field-color);
    transition: 120ms;/*animation time for smooth Transition */

}

/*---------------------------------- End of Form style --------------------------------*/

/*----------------------------------classified ads stle--------------------------------*/
section article
{
    background-color: var(--table-color);
    width:35%;
    margin:1rem;
    border-radius:0.9rem;
    overflow: hidden;/*Parts like the tr and td that would otherwise clip the rounded corners of the table are hidden*/
}

section article header
{
    font-size:2rem ;
}


.fill-block img 
{
    width:100%;
    height:auto;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.145), 0 6px 20px 0 rgba(0, 0, 0, 0.145);
}

.fill-block
{
    width:100%
}
article a p
{

    padding:0.3rem;
    margin :0.4rem;
    margin-top:0.6rem;
}


/*---------------------------end of classified ads style--------------------------------*/

/*---------------------------specific ad style------------------------------------------*/
#price
{
    font-size:3rem;
}

article h2
{
    font-size:4rem;
    margin:1rem;
}

.transparent-text
{
    color:var(--transparent-text-color)
}

/*These elements float right with a small margin so they don't stick to the edge of the page*/
.float-right
{
    clear:right;
    float:right;
    margin-right:2rem; 
}

main table 
{
    width:25%;
}

/*end*/

aside
{
    float:right;
    right:0%;
    margin-right:2rem;
    height: 100%;
    padding-bottom:1.8rem;
    padding-top:1rem;
    background-color:var(--dark-vibrant-color);
    border-radius:1rem;
}

aside nav a
{
    padding:2rem;
    font-size:2rem;
    margin:2rem;
}

/*We cancel the deafult link behaviour*/
aside nav a:hover
{
    transition:120ms;
    width:100%;
    background-color: var(--form-field-color);
    text-decoration: none;
}
aside nav a:active{

    text-decoration: none;
}
aside nav a:visited
{
    text-decoration: none;
}


aside nav>ul>li>ul>li>a
{
    margin-left:4rem;
}
aside nav>ul>li>ul>li
{
    margin-top:1.6rem
}
aside nav>ul>li
{
    margin-top:1.6rem
}